
#keret{
    background-color: #f9f9f9;
    color: #4f4f4f;
    font-family: sans-serif;
    font-size: 14px;
    width: 1125px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    margin: 0 auto;
    background-color: white;
}
#fejlec{
    width: 1125px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    background-image: url(./IMG/omg.png);
}
#torzs{
    width: 1125px;
    margin: 0px;
    padding: 0px;
}
#cikk{
    width: 720px;
    padding: 0px;
    margin: 20px;
    background-color: white;
    display: block;
    float: left;

}
#kommentek{
    display: block;
    float: right;
    width: 300px;
    height: 1300px;
    margin: 20px;
    padding: 0px;
    background-color: #efefef;
}

#lablec{
    clear: both;
    color: #808080;
    width: 1085px;
    margin: 20px;
    padding: 0px;
    background-color: #efefef;
    text-align: center;
}
h1{
    color:#333333;
    font-size: 32px;
}
h2{
    color: #f15d22;
    font-size: 24px;
}
img{
    width: 500px;
    display: block;
    margin: 0 auto;
}
a:link, a:visited{
    text-decoration: none;
    font-size: larger;
    color: #f15d22;
}
a:hover{
    text-decoration: none;
    font-size: larger;
    color: #a0a0a0;
}